form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  height: 7rem;
  border-radius: 80px;
  background: #FFF;
  font-size: 80px;
  text-align: center;
  font-family: Poppins;
  color: #2E9FEA;
  outline: none;
}

input[type="number"]::-webkit-input-placeholder {
  color: #2E9FEA;
}

h1 {
  color: #fefeff80;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}